body{
    background: #5c99e7;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.controls{
    padding-top: 150px;
    
}

.stopwatch{
    font-size: 10em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    color: rgb(230, 228, 228);
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
    padding: 10px 0;
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    border-radius: 15px;
    width: 120px;
    height: 50px;
    background-color: rgb(165, 163, 163);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: honeydew;
    border-style: groove;
    font-size: large;

}